{% extends 'base.html' %}

{% block content %}
{% load cart %}
{% load custom_filter %}


<!-- all products -->
<div class="row">
    <div class="container-fluid mt-3">
        <div class="row">


            <!-- filter -->
            <div class="col-lg-2 mx-auto">
                <div class="list-group ">
                    <a href="/" class="list-group-item list-group-item-action">All Products</a>
                    {% for category in categories %}
                    <a href="/?category={{category.id}}" class="list-group-item list-group-item-action">{{category}}</a>
                   <ul>
                    <a href="/?category={{category.id}}&orderBy=-price" class="list-group-item list-group-item-action btn-sm">Sort by Price - high to low</a>
                    <a href="/?category={{category.id}}&orderBy=price" class="list-group-item list-group-item-action btn-sm">Sort by Price - low to high</a>
                    <a href="/?category={{category.id}}&orderBy=-date" class="list-group-item list-group-item-action btn-sm">Sort by Date - latest</a>
                    <a href="/?category={{category.id}}&orderBy=date" class="list-group-item list-group-item-action btn-sm">Sort by Date - earliest</a>

                   </ul>
                    {% endfor %}
                </div>
            </div>



            <!-- all-Products -->
            <div class="col-lg-10">
                <div class="row mx-auto">
                    {% for product in products %}
                    <div class="card mx-auto mb-4" id={{product.id}} style="width: 18rem;">
                        <img src="/media/{{product.image}}" class="card-img-top" alt="...">
                        <div class="card-body ">
                            <h5 class="card-title">{{product.name}}</h5>
                            <p class="card-text"><b>{{product.price|rupee}}</b></p>

                        </div>
                        <div class="card-footer row no-gutters">
                            {% if not product|is_in_cart:request.session.cart %}
                            <form action="/#{{product.id}}" method="post" class="btn-block">
                                {% csrf_token %}
                                <input hidden type='text' name='product' value="{{product.id}}">
                                <input type="submit" class="btn btn-primary" value="Add to cart">
                            </form>
                            {% else %}
                            <div class="row no-gutters">
                                <form action="/#{{product.id}}" class="col-2" method="post">
                                    {% csrf_token %}
                                    <input hidden type='text' name='product' value="{{product.id}}">
                                    <input hidden type='text' name='remove' value="True">
                                    <input type="submit" value=' - ' class="col-2 btn btn-block btn-secondary">
                                </form>
                               
                                <div class="text-center col">{{ product | cart_quantity:request.session.cart }} in cart</div>
                                <form action="/#{{product.id}}" class="col-2" method="post">
                                    {% csrf_token %}
                                    <input hidden type='text' name='product' value="{{product.id}}">
                                    <input type="submit" value=' + ' class="col-2 btn btn-block btn-secondary">
                                </form>
                            </div>
{% endif %}

                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>



        </div>
    </div>
</div>



{% endblock %}