{% extends 'base.html' %}

{% block content %}
<!-- all products -->
<div class="row">
    <div class="container-fluid mt-3">
        <div class="row">


            <!-- filter -->
            <div class="col-lg-2 mx-auto">
                <div class="list-group ">
                    <a href="/" class="list-group-item list-group-item-action">All Products</a> 
                    {% for category in categories %}
                    <a href="/?category={{category.id}}" class="list-group-item list-group-item-action">{{category}}</a>                    
                    {% endfor %}
                </div>
            </div>




            <!-- all-Products -->
            <div class="col-lg-10">
                <div class="row mx-auto">
                    {% for product in products %}
                    <div class="card mx-auto mb-4" style="width: 18rem;">
                        <img src="/media/{{product.image}}" class="card-img-top" alt="...">
                        <div class="card-body ">
                            <h5 class="card-title">{{product.name}}</h5>
                            <p class="card-text"><b>{{product.price}}</b></p>
                            <a href="#" class="btn btn-primary">Add to cart</a>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>



        </div>
    </div>
</div>



{% endblock %}